.slide-image {
  width: 100%;
}
.mySlides {
  display: block !important;
}

.prev,
.next {
  display: block !important;
  cursor: pointer;
}

.dot {
  display: inline-block !important;
  cursor: pointer;
}